body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.signup {
  margin-left: 7%;
  background-color: whitesmoke;
}

.app {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: whitesmoke;
  width: 100vw;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-top: 4px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.lastEpisode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 30vh;
  border: 1px #808080;
  margin: 2vh 2% 2vh;
  padding-right: 2%;
  border: 1px black;
}

.episodeList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  width: 100vw;
  height: 20vh;
  margin: 2vh 3% 2vh 5%;
  border: 1px black;
}

.suscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 20vh;
}

.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 20vh;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #808080;
  height: 80vh;
}
